@{
    Layout = null;
    ViewBag.Title = "Index";
}


<div id='testA'></div>



<link rel="stylesheet" href="~/Content/webix.css"/>
<link rel="stylesheet" href="~/Content/mywebix.css"/>

<link href="~/Content/skins/web.css" rel="stylesheet" />

<script src="~/Scripts/webix.js"></script>
<script src="~/Scripts/webixApp/i18n-ru.js"></script>

<script src="~/Scripts/webixApp/webixApp.js"></script>
<script src="~/Scripts/webixApp/searchWindow.js"></script>
<script src="~/Scripts/webixApp/anketWindow.js"></script>
<script src="~/Scripts/webixApp/placeWindow.js"></script>
